.postHeader {
  width: 100%;
  height: 6rem;
  color: white;
  background: #fe8c00;
  position: absolute;
  display: grid;
  grid-template-columns: 4rem auto 4rem;
  grid-template-rows: auto;
  align-items: center;
  font-size: 3rem;
  background: linear-gradient(to right, #f83600, #fe8c00);

  i {
    margin-left: 1rem;
    cursor: pointer;
  }

  p {
    font-size: 1.2rem;
    justify-self: center;
    color: #ecf0f1;
    letter-spacing: 1px;
    span {
      color: white;
      font-weight: bold;
    }
  }
}
